<p class="lead">
    <strong>Notes</strong>
</p>

<div *ngIf="notes && notes.length == 0" class="alert alert-info">
  <strong>Info!</strong> Please update you <a [routerLink]="['Setting']"><u>Setting</u></a>.
</div>


<div class="card">
  <div *ngFor="#note of notes" class="card card-block">
    <blockquote class="card-blockquote">
      <h6 class="card-subtitle text-muted">{{note.app_name}}</h6>
      <p class="card-text">{{note.message}}</p>
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
    </blockquote>
  </div>
</div>
